body{
    margin: auto;
}

.mydark{
    background-color: black;
    color: white;
}

header{
    height:60px;
    background-color:#e09c83
}

.navbar-inverse .navbar-brand {
    color: #f70e0e;
    font-weight: 1000;
}

#toggle{
    margin-top: 8%;
}

.item > img{
    height: 400px !important;
    width:100%
}

#dd1{
    border-radius: 30px;
}

#dd2{
    border-radius: 30px;
}

#search{
    height:400px;
    background-image: url('image/food-wallpaper.png');
    background-repeat: no-repeat;
    background-size: 100% 400px;
}

#logo{
    height:150px;
    width:150px;
    margin-left:30%;
    margin-top:1%;
    position: absolute;
    font-size:80px;
    animation:revolve 5s infinite;
}

@keyframes revolve {
    0% {transform: rotate(30deg)}
    25% {transform: rotate(90deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(270deg)}
    100% {transform: rotate(360deg)}
}

#logo > span > img{
    border-radius: 30%;
}

#logo > span{
    margin-left: 28%;
    margin-top:15%;
    position: absolute;
}

#heading{
    margin-left:10%;
    margin-top:13%;
    position: absolute;
    color: white;
    font-size:45px;
}

.dropdown{
    height:60px;
    width:60%;
    margin-left:18%;
    margin-top: 18.5%;
    position: absolute;
}

select{
    height:60px;
    width:35%;
    font-size:15px;
    text-align:center;
}

.restlist{
    width:50%  
}

#QuickSearch{
    width:80%;
    margin-left: 10%;
    margin-top:5%;
}

#QuickHeading{
    color:gray;
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    display:block;
    margin-left: 2%;
}

#QuickHeading:hover{
    font-size:35px; 
}

#QuickSubHeading{
    line-height: 2;
    color:gray;
    font-size:20px;
    margin-left: 2%;
}

.tileContainer{
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 10px 20px 10px gray;
    animation: dance 10s infinite;
}

@keyframes dance{
    0% {transform: rotate(-5deg)}
    25% {transform: rotate(0deg)}
    50% {transform: rotate(5deg)}
    60% {transform: scale(0.8)}
    75% {transform: rotate(0deg)}
    100% {transform: rotate(-5deg)}
}

.componentHeading{
    font-size: 25px;
    color:gray;
}

.componentHeading > a{
    color:orange;
}
.componentSubHeading{
    color:red;
}

#myslider{
    margin-top: 5%;
    border-radius: 10%;
}

#footer{
    margin-top: 2%;
    background-color: black;
}

@media screen and (max-width:1400px){
}

@media screen and (max-width:1200px){
    #heading{
        margin-top: 15%;
        margin-left: 3%;
    }
    .dropdown{
        margin-top: 20%;
        margin-left: 15%;
    }
}

@media screen and (max-width:1100px){
    #heading{
        margin-top: 18%;
        margin-left: 3%;
    }
    .dropdown{
        margin-top: 24%;
        margin-left: 15%;
    }
}

@media screen and (max-width:1000px){
    #logo{
        margin-left:25%
    }
    #heading{
        font-size: 35px;
        margin-top: 18%;
        margin-left: 3%;
    }
    .dropdown {
        margin-top: 23%;
        margin-left: 11%;
    }
}

@media screen and (max-width:800px){
    #heading{
        font-size:30px;
        margin-top:23%;
        margin-left:4%;
    }
    .dropdown {
        margin-top: 28%;
        margin-left: 8%;
        width: 100%;
    }
}

@media screen and (max-width:600px){
    #heading {
        font-size: 27px;
        margin-top: 33%;
        margin-left: 6%;
    }
    .dropdown{
        margin-top: 39%;
        margin-left: 5%;
    }
}